<div class="mt-4">
    <form method = "GET" action = "/news">
        <div class="form-group">
            <label for="search-input">Searching</label>
            <input type="text" name = "word" class="form-control mt-2" placeholder="Enter keyword">
            <input type="text" name = "name" class="form-control mt-2" placeholder="Enter your name">
            <input type="text" name = "age" class="form-control mt-2" placeholder="Enter your age">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>